* {
    box-sizing: border-box;
}

.modal-frame {
    width: 510px;
    height: 450px;
    display: flex;
    font-family: 'Montserrat';
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 217px;
    background-color: #BA336C;
    color: #ffffff;
    border-radius: 20px 0px 0px 20px;
}

.donor-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 43.45%;
    width: 175px;
    border-bottom: 1px solid #BC7693;
}

.donor-info p {
    font-weight: 400;
    font-size: 11px;
    /* text-align: center; */
}

.donor-info img {
    width: 115px;
}

.donor-info h3 {
    font-weight: 700;
    font-size: 14px;
}

.payment-methods {
    height: 56.55%;
    width: 175px;
}

.payment-methods p {
    font-weight: 400;
    font-size: 11px;
}

.btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    height: 34px;
    width: 100%;
    border-radius: 20px;
    background-color: #ffffff;
    color: #565656;
    font-size: 13px;
    font-weight: 700;
}

.btn-default {
    color: #565656;
}

.btn-selected {
    color: #B41F5D;
    border: solid 2.5px #88C737;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.btn-image {
    height: 100%;
    width: 20%;
    
    margin-right: 20px;
}

.btn-image img {
    height: inherit;
}

.checkbox-div {
    width: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-div p {
    font-size: 6.5px;
    font-weight: 500;
    font-style: italic;
}


.payment-info {

}