
input, select {
    outline: none;
}

.modal-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    padding-top: 2;
    prefix: 4;
    padding-bottom: 3;

    overflow: hidden;

    width: 910px;
    height: 650px;
    display: flex;
    font-family: 'Montserrat';
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40%;
    background-color: #d3894df6;
    color: #ffffff;
    border-radius: 20px 0px 0px 20px;

    overflow: hidden;
}

.donor-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 38.45%;
    
    width: 175px;
}

.donor-info p {
    width: 240px;
    font-weight: 400;
    font-size: 17px;
}

.donor-info img {
    width: 215px;
}

.donor-info h3 {
    position: relative;

    top: -3vh;

    font-weight: 700;
    font-size: 27px;
}

.payment-methods {
    height: 54.55%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #d3894df6;
}

.payment-methods p {
    width: 270px;
    font-weight: 400;
    font-size: 17px;
}

.btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1px;
    height: 60px;
    width: 50%;
    color: #4f4f4f;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    transition: 0.1s;
}

.btn-default {
    color: #565656;
}

.btn-selected {
    color: #8b5529f6;
    border: solid 2.5px #693d18f6;
}

.btn:hover {
    color: #8b5529f6;
    border: solid 2.5px #693d18f6;
}

.btn-container {
    overflow: hidden;
    
    height: 60%;
}

.btn-image {
    height: 100%;
    width: 20%;
    margin-right: 20px;
    user-select: none;
}

.btn-image img {
    position: relative;
    top: -10px;
    width: 40px;
}

.checkbox-div {
    position: relative;
    top: -10px;
    width: 296px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-div p {
    font-size: 13.5px;
    font-weight: 500;
    font-style: italic;
}


.payment-info {
    background-color: #fff;
    border-radius: 0px 20px 20px 0px;
    padding-top: 40px;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credit-content {
    height: 42.5%;
    width: 390px;
    flex-direction: column;
    align-items: center;
}

.card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-info p {
    font-size: 22px;
    font-weight: 1000;
    color: #693d18f6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    border-bottom: #4b290e solid 1px;
    margin: 9px 0;
}

.pix-content {
    height: 42.5%;
    width: 390px;
    flex-direction: column;
    align-items: center;
}

.recipient-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.recipient-info p {
    font-size: 22px;
    font-weight: 1000;
    color: #693d18f6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    border-bottom: #4b290e solid 1px;
    margin: 9px 0;
}

.transfer-content {
    height: 42.5%;
    width: 390px;
    flex-direction: column;
    align-items: center;
}

.account-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.account-info p {
    font-size: 22px;
    font-weight: 1000;
    color: #693d18f6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    border-bottom: #4b290e solid 1px;
    margin: 9px 0;
}

.value-info {
    width: 390px;
    height: 25%;
    padding-top: 50px;
    flex-direction: column;
    position: relative;
}

.value-info p {
    font-size: 24px;
    font-weight: 1000;
    color: #693d18f6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    border-bottom: #4b290e solid 1px;
    margin: 9px 0;
}

.reset-value {
    height: 15px;
    position: absolute;
    bottom: -15px;
    right: 48px;
    cursor: pointer;
    user-select: none;
}

.cancel-confirm {
    width: 250px;
    height: 32.5%;
    flex-direction: column;
    padding-top: 70px;
    justify-content: flex-end;
}

.btn-cancel {
    width: 130px;
    height: 36.5px;
    color: #848484;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
    align-items: center;
}

.btn-cancel:active {
    color: #4f4f4f;
}

.btn-cancel p {
    margin: 0;
    user-select: none;
    cursor: pointer;
}

.btn-confirm {
    width: 130px;
    height: 36.5px;
    color: #fff;
    background-color: #88C737;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.35));
    cursor: pointer;
}

.btn-confirm:active {
    background-color: #649228;
}

.btn-confirm p {
    margin: 0;
    user-select: none;
}

.input-default {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.input-selected {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}

.input-default p {
    color: #848484;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-bottom: 1%;
}

.input-default select {
    border: #909090 solid 0.7px;
    height: 35px;
    font-size: 18px;
    color: #848484;
}

.input-selected p {
    color: #693d18f6;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-bottom: 1%;
}

.input-selected select {
    border: #693d18f6 solid 1.5px;
    height: 35px;
    font-size: 18px;
    color: #4b290e;
}

.input-default input {
    border: #909090 solid 0.7px;
    height: 35px;
    font-size: 18px;
    color: #848484;
}

.input-selected input {
    border: #693d18f6 solid 1.5px;
    height: 35px;
    font-size: 18px;
    color: #4b290e;
}

.flex-row {
    display: flex;
}

.space-between {
    justify-content: space-between;
    margin-bottom: 25px;
}

.flex-row .input-default {
    margin-right: 10px;
}

.flex-row .input-selected {
    margin-right: 10px;
}

.large {
    height: 70px;
    width: 350px;
}

.small {
    width: 120px;
}