nav {
    height: 80px;
    width: 100%;
    box-shadow: 0 0 1em rgba(54, 54, 54, 0.315);
}

.content-nav {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.content-nav a {
    margin: 0px;
    text-decoration: none;
}

.content-nav a img{
    height: 75px;
    margin: 0px;
}

.avatar {
    position: relative;
    border-radius: 50%;
    width: 40px;
}
