
.hr {
    height: 1px;
    background-color: #ffffff;
}

.align_perfil{
    position: relative;
    top: 12.5vh;
    width: 100%;
}

.align_perfil2{
    position: relative;
    top: 12.5vh;
    width: 90%;
    margin: 0 auto;
}

.perfil{
    color: #31271b;
    width: 100%;
    height: max-content;
    padding: 20px 20px 40px;
    background: #e2e2e2d7;
    display: flex;
    justify-content: flex-end;
    border-radius: 4px;
    margin-bottom: 20px;
}

.perfil:last-of-type{ 
    justify-content: flex-start;
    flex-direction: column;
}

.perfil:last-of-type h1{
    color: #31271b;
    margin-bottom: 20px;
}

.dados{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dados_item{
    width: 32%;
    height: 200px;
    background: #c9c9c9;
    border-radius: 4px;
    display: flexbox;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}

.dados_item h1:first-child{
    font-size: 25px;
    font-weight: 100;
}

.dados_item h1:last-of-type{
    font-size: 40px;
    font-weight: bold;
}

.img_perfil{
    margin-top: 30px;
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img_perfil img{
    border-radius: 50%;
    height: 220px;
    width: 220px;
}

.info_perfil{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.info_perfil h1 {
    font-weight: bold;
	font-size: 2.3em;
	color: #31271b;
}

.info_perfil p {
    font-size: 17px;
    font-weight: bold;
}

.info_perfil h4{
    font-size: 20px;
    font-weight: bold;
}

.info_perfil p{
    cursor: pointer;
    text-decoration: underline;
}

.addDetalhe {
    transition: .5s;
    cursor: pointer;
}

.addDetalhe:hover{ 
    box-shadow: 0 0 1em 0 #7e7e7e;
    transform: scale(1.05);
} 

.butonWithText {
    display: flex;
}