@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
} 

.container {
    /* display: flex; */
    width: 80%;
    margin: 0 auto;
}